body {
  background: #e6ffe6;
  font-family: sans-serif;
  text-align: center;
  padding-top: 40px;
}

.plant {
  position: relative;
  width: 120px;
  height: 200px;
  margin: 20px auto;
}

.pot {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: brown;
  border-radius: 0 0 20px 20px;
}

.stem {
  position: absolute;
  bottom: 40px;
  left: 50%;
  width: 10px;
  height: 30px;
  background: green;
  transform: translateX(-50%);
}
